In [1]:
import pandas as pd

Q.1 create a padnas series  that contain the following data :4,8,15,16,23and 42.then print the series

In [2]:
a=pd.Series([4,8,15,16,23,42],name="numbers")

In [3]:
a

0     4
1     8
2    15
3    16
4    23
5    42
Name: numbers, dtype: int64

 Q.2  create a variable of list type contaning 10 elements in it, and apply pandas series function on the 
variable and print it.

In [5]:
 a=pd.Series([1,2,3,4,5,6,7,8,9,10],name="numbers",index=list("abcdefghij"))
print(type(a))
print(a.head())
print(a.tail())
print(a.info())

<class 'pandas.core.series.Series'>
a    1
b    2
c    3
d    4
e    5
Name: numbers, dtype: int64
f     6
g     7
h     8
i     9
j    10
Name: numbers, dtype: int64
<class 'pandas.core.series.Series'>
Index: 10 entries, a to j
Series name: numbers
Non-Null Count  Dtype
--------------  -----
10 non-null     int64
dtypes: int64(1)
memory usage: 160.0+ bytes
None

Q.3 create a pandas dataframe that contain the following data.
Name
Alice
Bob
Claire

Age
25
30
27

Gender
Female
Male
Female

In [6]:
list_of_list=[["alias",25,"Female"],["Bob",30,"Male"],["claire",27,"Female"]]
first_data_frame=pd.DataFrame((list_of_list),columns=["name","age","gender"])
print(first_data_frame)

     name  age  gender
0   alias   25  Female
1     Bob   30    Male
2  claire   27  Female

Q4. What is ‘DataFrame’ in pandas and how is it different from pandas.series? Explain with an example.

 ans:-4 DataFrame:- DataFrame is a 2-dimentional labeled data structure with columns of potentially
different types. series can only contain single list with index,whereas dataframe can be made of more than one series.
example:
    series:- series is essentially a column
    pandas:- pandas DataFrame is a 2-dimentional data structure.

In [7]:
import numpy as np
import pandas as pd
a=pd.Series([32,3,21,12,34,5,32])
print(a)
print(type(a))
b=pd.DataFrame(np.random.randint(1,9,(4,5)))

0    32
1     3
2    21
3    12
4    34
5     5
6    32
dtype: int64
<class 'pandas.core.series.Series'>

 Q5. What are some common functions you can use to manipulate data in a Pandas DataFrame? Can
you give an example of when you might use one of these functions?

 ans:-5  Some pandas dataframe functions that can be used to accomplish most of your tasks:
    1. pd.read_csv()
    2. df.describe()# it is used to describe data frame.
    3.df.info()#Prints the basic information about our dataframe
    4.fd.rename() # it is used to rename tables columns name.
    5.df.loc()
    6.df.assign()# it is used to assign values
    7.df.query()
    8.df.head())#Prints the first  n  rows of the dataframe. By default it prints the first 5 rows
    9.df.tail()# it is use to fetch last five rows data

Q6. Which of the following is mutable in nature Series, DataFrame, Panel?

ans:-6 Series: A pandas series is mutable which means you can change its values after its created.
DataFrame:-A dataframe is also mutable.you can modify the data,add or remove columns,and make various changes to its structure and content.
panel:-the panel in pandas has been deprecated since version 0.25.0, and its not recommended for use anymore.in more recent version of pandas,you would typically use multiindex dataframe or other data structure to achieve similar functionality.however ,if we are working with an older version of pandas that still supports panel,it is mutable.

Q7. Create a DataFrame using multiple Series. Explain with an example.

In [17]:
import numpy as np
import pandas as pd
"""we create DataFrame using multiple series by the help of numpy random.randint function.
example are:-"""
df=pd.DataFrame(np.random.randint(1,12,(3,4)))
print(df)

    0  1   2   3
0   3  5   1   8
1   9  7   4  10
2  10  6  10   8